<h2>Lawn Specialists</h2>

<ul>
    <% @landscapers.each do |landscaper| %>
        <li>
            <%= link_to landscaper.business_name, landscaper_path(landscaper) %><br>
            Zip Code: <%= landscaper.zip_code %><br>
            Services: <% landscaper.tasks.each do |task| %>
                <%= task.description %>
            <% end %>
        </li>
    <% end %>
</ul>