<h2>Landscapers Index</h2>

<ul>
    <h3>Business Name - Zip Code - Available Services</h3>
    <% @landscapers.each do |landscaper| %>
        <li>
            <%= link_to landscaper.business_name, landscaper_path(landscaper) %> - 
            <%= landscaper.zip_code %> - 
            <% landscaper.tasks.each do |task| %>
                <%= task.description %>
            <% end %>
        </li>
    <% end %>
</ul>