<header>
    <div class="container text-center">
      <h1>Landscaping Pro</h1>
      <%= link_to "Log in with Google!", user_google_oauth2_omniauth_authorize_path %>
      <p class="lead">Find professionals for all of your lawn care needs.</p>
    </div>
  </header>